<div>
    <input type="text" ng-model="$ctrl.num1"> + <input type="text" ng-model="$ctrl.num2">
    <button ng-click="$ctrl.add()">Add</button>

    <div ng-repeat="calculation in $ctrl.calculations">
        {{calculation.num1}} + {{calculation.num2}} = {{calculation.sum}}
    </div>
</div>